<br>
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-9 align-self-center">
<div class="card m-3">
<h5 class="card-header bg-dark text-center" style="color: #f1f1f1">Add New User</h5>
<div class="card-body">
<div class="container col-md-10 col-md-offset-2">
<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <!-- <div class="text-center"><h6><b>ADD NEW USER</b></h6></div><br> -->
    <div class="form-row">
      <div class="form-group col-md-6">
        <label> <b>UserId</b></label>
        <input type="text" class="form-control" name="USERID" [(ngModel)]="Userid" disabled>
      </div>
      <div class="form-group col-md-6">
        <label ><b>Name</b></label>
        <input type="text" class="form-control" name="Name" placeholder="Name" [(ngModel)]="userRequest.Name"
        #Name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Name.invalid }"  required>
        <div *ngIf="f.submitted && Name.invalid" class="invalid-feedback">
          <div *ngIf="Name.errors.required">Name is required</div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label ><b>Email</b></label>
        <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="email" class="form-control" name="Email"  placeholder="Email" 
        [ngClass]="{ 'is-invalid': f.submitted && Email.invalid }" [(ngModel)]="userRequest.Email" #Email="ngModel" required email>
        <div *ngIf="f.submitted && Email.invalid" class="invalid-feedback">
          <div *ngIf="Email.errors.required">Email is required</div>
          <div *ngIf="Email.errors.email">Email must be a valid email address</div>
        </div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label ><b>Password</b></label>
        <input type="password" class="form-control"  name="Password" placeholder="Password"
        [ngClass]="{ 'is-invalid': f.submitted && Password.invalid }" [(ngModel)]="userRequest.Password" #Password="ngModel" required minlength="6">
        <div *ngIf="f.submitted && Password.invalid" class="invalid-feedback">
          <div *ngIf="Password.errors.required">Password is required</div>
          <div *ngIf="Password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
    </div>
    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputAddress2"><b>Phone No.</b></label>
      <input type="text" class="form-control" placeholder="Phone No." [(ngModel)]="userRequest.PhoneNo" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group col-md-6">
        <label ><b>Role</b></label>
        <select class="form-control" name="Role" [(ngModel)]="userRequest.Role" #Role="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && Role.invalid }" required>
          <option selected>Choose...</option>
          <option>Admin</option>
          <option>ITIL Admin</option>
          <option>Manager</option>
          <option>CS Reps</option>
        </select>
        <div *ngIf="f.submitted && Role.invalid" class="invalid-feedback">
          <div *ngIf="Role.errors.required">Role is required</div>
        </div>
    </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label ><b>Group</b></label>
        <select multiple class="form-control" name="Group" [(ngModel)]="groupSelected" 
        [ngModelOptions]="{standalone: true}">
          <option>Choose...</option>
          <option *ngFor="let item of groupData" >{{item.GroupId}}</option>
        </select> 
      </div>
      <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]="userRequest.Active" [ngModelOptions]="{standalone: true}">
              <label class="form-check-label" for="gridCheck">
               <b> Active </b>
              </label>
            </div>
          </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="form-actions col-md-6" style="text-align:center">
        <button type="submit" class="btn btn-danger btn-block" [disabled]="f.invalid" (click)="createUserHandler()">Submit</button>
      </div>
      <div class="col-md-3"></div>
    </div>
  </form>
  </div>
  </div>
  </div>
</div>
</div>
<br><br>
    
 
     