
<body>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a href="#">Dashboard</a>
    <a class="nav-link" routerLink='login'>Login <span class="sr-only"></span></a>
    <div class="dropdown">
      <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        User
      </a>
      <div class="dropdown-menu" >
        <a class="dropdown-item" routerLink='addUser'>Add</a>
        <a class="dropdown-item" routerLink='userList'>List</a>
      </div> 
    </div>
</div>
  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <div id="main"> 
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <span style="font-size:30px;color:#f1f1f1;cursor:pointer" (click)="openNav()">&#9776; </span>
      </div> 
     </div>
          <a class="navbar-brand ml-auto" href="#">SERVICE NOW</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
         
          <ul class="nav navbar-nav navbar-brand ml-auto"> <!-- ml-auto class aligns the menu items to the right-->
          <li class="nav-item"> <a class="nav-link" href=#>Home<span class="sr-only"></span></a> </li>
          <li class="nav-item"> <a class="nav-link" routerLink="login">Login<span class="sr-only"></span></a></li>
          <!-- <li class="nav-item">
             <div class="dropdown nav-link">
                <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  User
                </a>
                  <div class="dropdown-menu" >
                    <a class="dropdown-item" routerLink='addUser'>Add</a>
                    <a class="dropdown-item" routerLink='userList'>List</a>
                  </div> 
            </div>
          </li> -->
          </ul>
</nav> 

</body>

