 /*
 body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
  }

  .dropdown-menu {
    background-color: #111;
  }
  
  .dropdown-menu a {
    color: #818181;
  }

  .dropdown-menu a:hover {
    color: #f1f1f1;
  }
  
  .dropdown-item {
    background-color: #111;
  }
  
  .sidenav a {
    padding: 10px 10px 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 20px;}
    .sidenav a {font-size: 18px;}
  }

  .navbar {
    background: #DD0A35;
  } */

  /* body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 0px 0px;
    height: 50px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  .navbar {
    background: #DD0A35;
  }

  .dropdown-menu {
    background-color: #111;
  }
  
  .dropdown-menu a {
    color: #818181;
  }

  .dropdown-menu a:hover {
    color: #f1f1f1;
  }
  
  .dropdown-item {
    background-color: #111;
  } */

  body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1; /* positions the sidebar above other components like header and rest content on the page */
    top: 0;
    left: 0;
    background-color: #003F5C;
    overflow-x: hidden; /*no horizontal scroll*/
    overflow-y: auto; /*vertical scrollbar will appear when items in sidebar overflow*/
    padding-top: 10px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
    width: 100%;
    cursor: pointer;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    border: solid 1px white;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .navbar {
    background: #f1f1f1;
  }

  .nav-link{
    color: #003F5C;
  }
  .nav-item a:hover{
    color: #f1f1f1;
    background: #818181;
    box-shadow: 10 30px 60px 10 rgba(0,0,0,0.3);
    border-radius: 5px 5px 5px 5px; 
  }

  .dropdown-menu {
    background-color: #111;
  }
  
  /* .dropdown-menu a {
    color: #818181;
  } */

  .dropdown-menu a:hover {
    color: #f1f1f1;
    background: #818181;
  }
  
  .dropdown-item {
    background-color: #111;
  } 