
    <body> 
      <div class="sidenav">
          <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
          <div class=" container navbar-brand" href=# style="color: white">ITIL PORTAL</div>
          <a class="nav-link" routerLink='dashboard'>Dashboard</a>
          <a class="nav-link" routerLink='profile'>Profile</a>
          <a class="nav-link" routerLink='login'>Login <span class="sr-only"></span></a>
          <div class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              User
            </a>
            <div class="dropdown-menu" >
              <a class="dropdown-item" routerLink='addUser'>Add</a>
              <a class="dropdown-item" routerLink='userList'>List</a>
            </div> 
          </div> 
          <div class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Incident
            </a>
            <div class="dropdown-menu" >
              <a class="dropdown-item" routerLink='openIncident'>New</a>
              <a class="dropdown-item" routerLink='incidentList'>List</a>
              <a class="dropdown-item" routerLink='incidentByAssignedTo'>Assigned To Me</a>
            </div> 
          </div>
          <a class="nav-link" routerLink='login'>Logout <span class="sr-only"></span></a>
      </div>
      
      
      <nav class="navbar navbar-expand-lg">
      
      
               
            <ul class="nav navbar-nav ml-auto"> 
            <li class="nav-item"> <a class="nav-link"  routerLink="profile">Home<span class="sr-only"></span></a> </li>
            <li class="nav-item"> <a class="nav-link"  routerLink="login">Logout<span class="sr-only"></span></a></li>
            </ul>
      </nav>
     
      
      </body>
      
