
<br>
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10 align-self-center">
<div class="card m-3">
<h5 class="card-header bg-dark text-center" style="color: #f1f1f1">Open New Incident</h5>
<div class="card-body">
<div class="container col-md-10 col-md-offset-2">
<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    
    <div class="form-row">
      <div class="form-group col-md-6">
        <label> <b>Incident Number</b></label>
        <input type="text" class="form-control" name="IncidentNumber" [(ngModel)]="IncidentNum" disabled>
      </div>
      <div class="form-group col-md-6">
        <label ><b>Caller*</b></label>
        <div class="input-group">
        <input type="text" class="form-control" name="Caller" placeholder="Caller" [(ngModel)]="userId" 
        #Caller="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Caller.invalid , 'has-success': f.submitted && Caller.valid }" required>
           <div class="input-group-append">
           <button type="submit" class="btn btn-danger" mat-raised-button (click)="openDialog()">Select</button>
           </div>
        <div *ngIf="f.submitted && Caller.invalid" class="invalid-feedback">
            <div *ngIf="Caller.errors.required">Caller is required</div>
        </div>
        </div>
    </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label ><b>Category</b></label>
            <select class="form-control" [(ngModel)]="incidentRequest.Category" (click)="subcategoryHandler(incidentRequest.Category)" [ngModelOptions]="{standalone: true}" required>
              <option selected>Choose...</option>
              <option>Software</option>
              <option>Hardware</option>
              <option>Network</option>
              <option>Database</option>
              <option>Inquiry/Help</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label ><b>Subcategory</b></label>
            <select class="form-control" [(ngModel)]="incidentRequest.Subcategory"  [ngModelOptions]="{standalone: true}">
              <option selected>--None--</option>
              <option *ngFor="let item of subcategory">{{item}}</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label ><b>Impact*</b></label>
            <select class="form-control" name="Impact" [(ngModel)]="incidentRequest.Impact" 
            #Impact="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Impact.invalid }" 
            (click)="priorityHandler(incidentRequest.Impact, incidentRequest.Urgency)" required>
              <option selected>Choose...</option>
              <option>High</option>
              <option>Medium</option>
              <option>Low</option>
            </select>
            <div *ngIf="f.submitted && Impact.invalid" class="invalid-feedback">
                <div *ngIf="Impact.errors.required">Impact is required</div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label ><b>Urgency*</b></label>
            <select class="form-control" name="Urgency" [(ngModel)]="incidentRequest.Urgency" #Urgency="ngModel"
            (click)="priorityHandler(incidentRequest.Impact, incidentRequest.Urgency)" 
            [ngClass]="{ 'is-invalid': f.submitted && Urgency.invalid }" required>
              <option selected>Choose...</option>
              <option>High</option>
              <option>Medium</option>
              <option>Low</option>
            </select>
            <div *ngIf="f.submitted && Urgency.invalid" class="invalid-feedback">
                <div *ngIf="Urgency.errors.required">Urgency is required</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label ><b>Priority</b></label>
            <input type="text" class="form-control" name="Priority" value="incidentRequest.Priority" [(ngModel)]="incidentRequest.Priority" disabled>      
        </div>
        <div class="form-group col-md-6">
            <label ><b>SLA</b></label>
            <div class="input-group">
            <input type="text" class="form-control" name="SLA" [(ngModel)]="incidentRequest.SLA" disabled>      
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label ><b>Assignment Group*</b></label>
            <select class="form-control" (click)="assignedToHandler(groupSelected)" [(ngModel)]="groupSelected" [ngModelOptions]="{standalone: true}" required>
              <option selected>Choose...</option>
              <option *ngFor="let item of groupData">{{item.GroupId}}</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label ><b>Assigned To</b></label>
            <select class="form-control" [(ngModel)]="assignedTo.Name" [ngModelOptions]="{standalone: true}">
              <option selected>Choose...</option>
              <option *ngFor="let item of assignedToList">{{item}}</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label ><b>State</b></label>
            <select class="form-control" [(ngModel)]="incidentRequest.State" [ngModelOptions]="{standalone: true}" 
            name="State" #State="ngModel" [ngClass]="{ 'is-invalid': f.submitted && State.invalid }">
              <option>New</option>
              <option>In Progress</option>
              <option>Resolved</option>
              <option>Closed</option>
              <option>Cancelled</option>
            </select>
           <!--  <div *ngIf="(incidentRequest.State!=New || incidentRequest.State!=NULL) && f.submitted && State.invalid" class="invalid-feedback">
              <div *ngIf="State.errors">You cannot choose a state other than 'New' while creating the incident</div>
            </div> -->
        </div>
    </div>

    
        <div class="form-group">
            <label ><b>Short Description*</b></label>
            <textarea class="form-control" rows="1" name="ShortDescription" [(ngModel)]="incidentRequest.ShortDescription" 
            #ShortDescription="ngModel" [ngClass]="{ 'is-invalid': f.submitted && ShortDescription.invalid }" required></textarea>     
            <div *ngIf="f.submitted && ShortDescription.invalid" class="invalid-feedback">
                <div *ngIf="ShortDescription.errors.required">Short Description is required</div>
            </div>
        </div>
   
    
        <div class="form-group">
            <label ><b>Description</b></label>
            <textarea class="form-control" rows="5" name="Description" [(ngModel)]="incidentRequest.Description"></textarea>     
        </div>
        <div class="row">
           <div class="col-md-3"></div>
           <div class="form-actions col-md-6" style="text-align:center">
            <button type="submit" class="btn btn-danger btn-block" (click)="createIncidentHandler()">Submit</button>
           </div>
           <div class="col-md-3"></div>
        </div>
        </form>
  </div>
  </div>
</div>
</div>
</div>
<br><br>
    
 
     
