<section class="login-box centered">
    <div class="container">
      <div class="row">
        <div class="col-md-4 login-sec">
          <ul id="tabsJustified" class="nav nav-tabs">
            <li class="nav-item"><a href="" data-target="#signin" data-toggle="tab" class="nav-link active">Sign In</a></li>
            <!-- <li class="nav-item"><a href="" data-target="#signup" data-toggle="tab" class="nav-link">Sign Up</a></li> -->
          </ul>
          <br>
          <div id="tabsJustifiedContent" class="tab-content">
            <div id="signin" class="tab-pane fade active show">
              <form class="login-form">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="text-uppercase"  >Email</label>
                  <input type="text" class="form-control" placeholder=""[(ngModel)] = "data.Email" name="Email">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1" class="text-uppercase" >Password</label>
                  <input type="password" class="form-control" placeholder="" [(ngModel)] = "data.Password" name="Password">
                </div>
            
                <div class="form-check">
                  <label class="form-check-label">
                    <!-- <input type="checkbox" class="form-check-input"> -->
                    <!-- <small>Remember Me</small> -->
                  </label>
                  <button type="submit" class="btn btn-login float-right" (click)="login()" >LOG IN</button>
                </div>
              </form>
            </div>
            <!-- <div id="signup" class="tab-pane fade">
              <form class="login-form">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="text-uppercase">Full Name</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1" class="text-uppercase">Password</label>
                  <input type="password" class="form-control" placeholder="">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1" class="text-uppercase">Confirm Password</label>
                  <input type="password" class="form-control" placeholder="">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1" class="text-uppercase">Email Address</label>
                  <input type="password" class="form-control" placeholder="">
                </div>
            
                <div class="form-check">
                  <button type="submit" class="btn btn-login float-right">REGISTER</button>
                </div>
              </form>
            </div> -->
          </div>
          <!-- <div class="copy-text">Created with <i class="fa fa-heart"></i> by <a href="http://kiaijoe.com">kiaijoe</a></div> -->
        </div>
        <div class="col-md-8 banner-sec">
          <div class="carousel-caption d-none d-md-block">
            <div class="banner-text">
              <h2>This is Heaven</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
            </div>  
          </div>      
        </div>
      </div>
      <div class="alert alert-danger" role="alert" name="alert"  *ngIf = "islogin == false">
        Username or password is wrong
      </div>
    </div>
    
  </section>