<!-- <br><br><br>
<div class="container col-md-4 col-md-offset-6">
<form >
  <table class="table table-bordered table-light">
    <thead class="table-info">
      <th><div class="text-center"><h6><b>LOGIN</b></h6></div></th>
    </thead>
  <tr>
  <td>
  
    <div class="form-group">
      <label  class="col-md-2 col-form-label"><b>UserId</b></label><br>
      <div class=" col-md-10 col-sm-10">
        <input type="text" class="form-control" name="UserId" placeholder="UserId" [(ngModel)]="userLoginRequest.UserId">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-md-2 col-form-label"><b>Password</b></label>
      <div class="col-md-10 col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" name="Password" placeholder="Password" [(ngModel)]="userLoginRequest.Password"><br>
      </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12 col-sm-12">
          <button type="submit" class="btn btn-info btn-block" (click)="loginHandler()">Sign in</button>
        </div>
    </div>
    </td>
  </tr>
</table>
</form>
</div>    
 -->


 <div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="http://icons.iconarchive.com/icons/papirus-team/papirus-status/512/avatar-default-icon.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="UserId" [(ngModel)]="userLoginRequest.UserId">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="Password" [(ngModel)]="userLoginRequest.Password">
      <input type="submit" class="fadeIn fourth" value="Log In" (click)="loginHandler()">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>